.card {
  max-width: 200px;
  margin: 10px;
  display: inline-block;
}

.header-image {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png");
  background-size: cover;
}

.button-container{
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
}
